<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %> for <%= @order.email %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>
  <h4>Your order: </h4>
  <table>
    <thead>
      <tr>
        <th colspan="2">Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'order', final_order: @final_order %>
    <tbody>
  </table>
  <p>Total: </p><%= humanized_money_with_symbol @order.total_cents %>
  <br></br>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
